@model IEnumerable<SiotohBlog.Models.UserViewModel>
@{
    ViewBag.Title = "UserList";
}

<h2>All Users</h2>

<table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Email)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Password)
    </th>


    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
    </tr>
}

</table>

